.background-app {
    background-image: url("../assets/lights.jpg");
    background-position: center center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-size: cover;  
    background-color: #464646;  
    min-height: 1080px;
}